/* google fonts  */

/* variables  */
:root {
  --primary-color: #00b8a9;
  --text-color: #222;
  --white-color: #fff;
}

.colorize {
  color: var(--primary-color);
}

.container {
  max-width: min(100% - 2rem, 1250px);
  margin-inline: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.margin {
  margin: 1rem;
}
.volunteer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  position: relative;
}
